* {
    margin: 0;
    padding: 0;
}

header a {
    text-decoration: none;
    color: #fff;
  }


.galeriia {
    font-family: Arial, sans-serif;
    padding: 20px 0;
    background-color: #e00000;
    color: white;
    text-align: center;
}

.restos {
    margin: 2%;
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px; 
    padding: 0%;
}

img {
    width: 95%; 
    height: auto;
    display: block;
    margin: 0 auto;
    padding: 0%;
    border: 5px groove black;
}