body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.header {
    background-color: #e00000;
    color: white;
    text-align: center;
    padding: 20px 0;
    position: relative;
}

.header h1 {
    display: inline;
    margin: 0;
}

.header .header-icons {
    display: inline;
    position: absolute;
    top: 10px;
    right: 20px;
}

.header .header-icons i {
    margin-left: 15px;
    cursor: pointer;
}

.content {
    text-align: center;
    padding: 20px;
}

.content img {
    width: 70%;
    border-radius: 10px;
}

.content p {
    font-size: 20px;
    margin-top: 20px;
}

.highlight {
    color: red;
}

.video-section {
    padding: 20px;
    text-align: center;
}

.video-section iframe {
    width: 70%;
    height: 400px;
    border: none;
}

.about {
    padding: 100px;
    background-color: #f0f0f0;
    text-align: center;
}

.about h2 {
    color: red;
}

.about p {
    font-size: 18px;
    margin: 20px 0;
}

.courses-section {
    text-align: center;
    padding: 20px;
    background-color: #f0f0f0;
}

.courses-title {
    font-size: 24px;
    cursor: pointer;
    color: red;
}

.courses-title:hover {
    color: black;
}

.courses-list {
    display: none;
    margin-top: 20px;
}

.courses-list div {
    font-size: 18px;
    margin: 10px 0;
}

.footer {
    background-color: #e00000;
    color: white;
    text-align: center;
    padding: 10px 0;
}

.footerrr{
    background-color: #e00000;
    color: white;
    text-align: center;
    padding: 20px 0;
}







.footer div {
    display: inline-block;
    margin: 0 20px;
    cursor: pointer;
}

.footer div:hover {
    text-decoration: underline;
}

.social-icons {
    margin-top: 10px;
}

.social-icons a {
    margin: 0 10px;
    color: white;
    text-decoration: none;
    font-size: 20px;
}